.okenko{
    background-color: aqua;
    border: 1px solid black;
    width: 500px;
}

main{
display: flex;
justify-content: center;

}


.odsazeni{
    display: flex;
    justify-content: center;
    margin: 16px 0;

}

.odsazeni label{
    width: 150px;
    text-align: left;

}


.buttons a {
    background-color: brown;
    color: azure;
    padding: 5px;
    border: 1px solid black;
    text-decoration: none;


}


.buttons{
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 16px;
    

}

#heslo{
    background-color:goldenrod;


}

#prihlaseni{
background-color:green;

}